body {
  font-family: 'Rubik', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-color {
  background-color: cyan;
}

.link {
  color: white !important;
  text-decoration: none !important;
}

.paper {
  margin: auto;
  margin-top: 70px;
  width: 700px;
  height: auto;
  padding: 30px;
  background-color: rgb(1, 226, 226);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
