* {
  font-family: "Rubik", sans-serif !important;
}

.App {
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.align-content-left {
  display: flex;
  justify-content: left;
}

.header-color {
  background-color: cyan;
}

.link-auth {
  color: white !important;
  text-decoration: none !important;
}

.link-menu {
  color: rgb(14, 13, 13) !important;
  text-decoration: none !important;
}

.link-show-new {
  text-decoration: none !important;
  color: rgb(14, 13, 13) !important;
  font-weight: 500 !important;
}
.link-show-new:hover {
  text-decoration: none !important;
  color: rgb(80, 78, 78) !important;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.link-show-new:active {
  text-decoration: none !important;
  color: rgb(37, 37, 37) !important;
}

.links-container {
  text-align: left;
  padding-left: 30px;
}

.auth-dropdown {
  background-color: rgb(32, 54, 173);
  color: white;
  border: inherit;
  border-radius: 5px;
  padding: 12px;
  cursor: pointer;
}
.auth-dropdown:hover {
  background-color: rgb(36, 52, 139);
  color: white;
}
.auth-dropdown:active {
  background-color: rgb(30, 45, 128);
  color: white;
}

.auth-dropdown-menu {
  background-color: transparent !important;
  padding-top: 3px;
}

.auth-dropdown-item {
  text-decoration: none;
  background-color: rgb(212, 213, 218) !important;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.auth-dropdown-item:hover {
  text-decoration: none;
  background-color: rgb(190, 190, 190) !important;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.auth-dropdown-item:focus {
  text-decoration: none;
  background-color: rgb(138, 139, 139) !important;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.green-dot {
  border-color: #0d840d !important;
}

.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}

.show-new-title {
  font-weight: bold !important;
}

.show-new-grid {
  text-align: left !important;
}

.show-list {
  padding-left: 20px !important;
  margin-top: 5px !important;
  margin-bottom: 0px !important;
}

.show-new-hr-solid {
  width: auto;
  margin-left: -31px;
  margin-right: -31px;
  margin-top: 20px;
  border-top: 1px solid #adb5f1;
}

.show-new-hr-dashed {
    width: auto;
    margin-top: 20px;
    border-top: 1px dashed #adb5f1;
}

.back-btn {
  text-decoration: none;
  font-size: 28px;
}
.back-btn:hover {
  text-decoration: none;
}
.back-btn:focus {
  text-decoration: none;
}

.container-overide {
  max-width: 1920px !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.mx-1 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}
.mx-2 {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
}
.mx-3 {
    margin-right: 3rem !important;
    margin-left: 3rem !important;
}
.mx-4 {
    margin-right: 4rem !important;
    margin-left: 4rem !important;
}
.mx-5 {
    margin-right: 5rem !important;
    margin-left: 5rem !important;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}
.my-1 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.my-2 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
.my-3 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}
.my-4 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
}
.my-5 {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}
.mt-3 {
  margin-top: 3rem !important;
}
.mt-2 {
  margin-top: 2rem !important;
}
.mt-1 {
  margin-top: 1rem !important;
}
.mb-4 {
  margin-bottom: 4rem !important;
}
.mb-3 {
  margin-bottom: 3rem !important;
}
.mb-2 {
  margin-bottom: 2rem !important;
}
.mb-1 {
  margin-bottom: 1rem !important;
}
.mr-4 {
  margin-right: 4rem !important;
}
.mr-3 {
  margin-right: 3rem !important;
}
.mr-2 {
  margin-right: 2rem !important;
}
.mr-1 {
  margin-right: 1rem !important;
}

.form-input {
  width: auto !important;
  text-align: center !important;
}
.flex-0 {
  flex: 0 !important;
  flex-shrink: 0 !important;
}

.paper {
  margin: auto;
  margin-bottom: 80px;
  width: 900px;
  height: auto;
  padding: 30px;
  text-align: center !important;
  background-color: rgba(234, 234, 234, 0.74) !important;
}

.paper-full-width {
  margin-bottom: 80px;
  width: -webkit-fill-available;
  height: auto;
  padding: 30px;
  /*text-align: center !important;*/
  background-color: rgba(234, 234, 234, 0.74) !important;
}

.paper-login {
  margin: auto;
  margin-bottom: 80px;
  margin-top: 80px;
  width: 700px;
  height: auto;
  padding: 30px;
  text-align: center !important;
  background-color: rgba(223, 223, 223, 0.74) !important;
}

.flex-column {
  display: flex !important;
  flex-direction: column !important;
  margin-left: 70px;
}

.align-items-center {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.paper-autoSize {
  margin: auto;
  margin-top: 20px;
  width: auto;
  max-width: 1200px;
  height: auto;
  padding: 30px;
  text-align: left !important;
  background-color: rgba(234, 234, 234, 0.74) !important;
}

.grid-pagination {
  justify-content: center;
  margin-bottom: 20px !important;
}

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 50%;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin: 0 5px 0 5px;
  line-height: 1.25;
  color: #1a1c1d;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #dee2e6 !important;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.page-link:hover {
  z-index: 2;
  color: #171718;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(66, 123, 170, 0.25);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-radius: 50%;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-radius: 50%;
  border-bottom-right-radius: 0.25rem;
}
.page-item.active .page-link {
  text-decoration: none;
  z-index: 3;
  border-radius: 50%;
  color: #fff;
  background-color: #4159de;
  border-color: #4159de;
}
.page-item.disabled .page-link {
  color: #6c757d;
  border-radius: 50%;
  text-decoration: none;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}

.pagination .page-link {
  padding: 1px 10px 0px 9px;
  font-size: 1.125rem;
  border-radius: 50%;
  text-decoration: none;
  line-height: 1.5;
}
.pagination .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border-radius: 50%;
}
.pagination .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  border-radius: 50%;
}

.purple {
  color: #3146bd;
}

.chevron-left {
  content:url("./icons/chevron_left_black.png");
  display: flex;
  width: 14px;
  height: 15px;
  padding-left: 0px;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-right: 0px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.chevron-right {
  content:url("./icons/chevron_right_black.png");
  display: flex;
  width: 14px;
  height: 15px;
  padding-left: 0px;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-right: 0px;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

/* :: 3.6.0 ScrollUp */
.scrollUp {
  position: fixed !important;
  background-color: #000000 !important;
  bottom: 50px !important;
  color: #ffffff !important;
  font-size: 32px !important;
  height: 40px !important;
  min-height: 40px !important;
  line-height: 37px !important;
  right: 50px !important;
  text-align: center !important;
  width: 40px !important;
  min-width: 40px !important;
  border-radius: 50% !important;
  -webkit-transition-duration: 500ms !important;
  transition-duration: 500ms !important;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.15) !important;
}

.scrollUp-hidden {
  position: fixed !important;
  display: none !important;
  background-color: #000000 !important;
  bottom: 50px !important;
  color: #ffffff !important;
  font-size: 32px !important;
  height: 40px !important;
  min-height: 40px !important;
  line-height: 37px !important;
  right: 50px !important;
  text-align: center !important;
  width: 40px !important;
  min-width: 40px !important;
  border-radius: 50% !important;
  -webkit-transition-duration: 500ms !important;
  transition-duration: 500ms !important;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.15) !important;
}

.scrollUp:hover,
.scrollUp:focus {
  background-color: #300bd4 !important;
  color: #ffffff !important;
}

.historyIcon-size {
  font-size: 50px !important;
}
.CalendarIcon-size {
  font-size: 50px !important;
}

.square-div {
  border-radius: 10px !important;
  background-color: #c6b8fd !important;
  text-align: left;
  padding: 5px;
  width: 50px !important;
  height: 50px !important;
  position: absolute !important;
}

.username {
  vertical-align: middle;
  margin-bottom: 7px;
  margin-left: 6px;
}

.username-avatar {
  vertical-align: middle;
}

.chip {
  margin: 8px 4px 0px 4px;
}

.state-open {
  color: white !important;
  font-size: 18px !important;
  background-color: #01a001 !important;
}

.state-closed {
  color: white !important;
  font-size: 18px !important;
  background-color: #e00404 !important;
}
